.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--colors-grey900);
    gap: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp8);
}

.heading h1 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0;
}
